@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--primary: #FF7B54;
	--secondary: rgba(51, 35, 21, 0.8);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;

}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	background-color: var(--secondary);
}

.display {
	box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.2);
	padding: 2.5rem 1rem;
	padding-right: 1rem;


}

.display input {
	width: 100%;
	text-align: right;
	outline: unset;
	border: unset;
	background-color: transparent;
	font-weight: 400;
	font-size: 1.4rem;
	font-style: none;
	caret-color: var(--primary);


}

input::placeholder {
	font-size: 0;
}

.container {
	max-width: 600px;
	background-color: #fff;
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
	font-size: 1.4rem;
	font-weight: 400;
	padding: 1rem;
	border-radius: 1rem;

}

.buttons {
	margin: 1rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	gap: 1.4rem;

}

.buttons .btn {
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2),
		-2px -2px 10px rgba(0, 0, 0, 0.2);
	border-radius: 1.5rem;

	text-align: center;
	padding: .5rem;
}

.buttons .btn-ac {
	/* grid-column: 1/3;
	grid-row: 1/2; */
	background-color: var(--primary);


}

.buttons .btn-equal {
	grid-column: 3/5;
	grid-row: 5/6;
	background-color: var(--primary);
}

.back{
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}